@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --font-primary: "Roboto", sans-serif;
  --primary-tomato: hsl(4, 100%, 67%);
  --primary-white: hsl(0, 0%, 100%);
  --primary-grey: hsl(231, 7%, 60%);
  --primary-charcoal-grey: hsl(235, 18%, 26%);
  --primary-dark-slate-grey: hsl(234, 29%, 20%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-charcoal-grey);
}

.newsletter-container {
  display: flex;
  justify-content: center;
  background-color: var(--primary-white);
  padding: 1.5rem;
  border-radius: 20px;
}

.signup-container {
  margin: 4rem 2rem 0;
}

.signup-container h1 {
  font-size: 3.5rem;
  margin: 0;
}

.signup-container p {
  width: 80%;
}

.signup-container ul {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

.signup-container ul li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.signup-container ul li img {
  width: 18px;
  margin-right: 0.8rem;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 40px;
}

.subscription-form label {
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.subscription-form input {
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid var(--primary-grey);
  margin-bottom: 20px;
}

.subscription-form input::placeholder {
  color: var(--primary-grey);
}

.subscription-form input:focus {
  outline: none;
  border: 1px solid var(--primary-dark-slate-grey);
}

.btn {
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-dark-slate-grey);
  color: var(--primary-white);
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--primary-tomato);
  box-shadow: 0px 6px 10px -5px var(--primary-tomato);
}

.error-container {
  display: none;
  position: relative;
}

.error-container .error-message {
  position: absolute;
  top: -36px;
  right: -1%;
  width: 118px;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--primary-tomato);
}

.subscription-form .error-input {
  background-color: rgb(255, 224, 224);
  color: rgb(240, 48, 48);
  border: 2px solid rgb(240, 48, 48);
}

.subscription-form .error-input:focus {
  outline: none;
  border: 2px solid rgb(240, 48, 48);
}

.success-container {
  background-color: var(--primary-white);
  width: 35%;
  margin: auto;
  padding: 2.5rem;
  border-radius: 20px;
  color: var(--primary-dark-slate-grey);
}

.success-container img {
  width: 40px;
}

.success-container h1 {
  font-size: 2.8rem;
  line-height: 44px;
  margin: 20px 0 30px;
}

.success-container p span {
  font-weight: 700;
}

.success-container button {
  width: 100%;
  margin-top: 20px;
}

@media (width <= 650px) {
  body {
    display: block;
    background-color: var(--primary-white);
    min-height: auto;
  }

  .newsletter-container {
    flex-direction: column-reverse;
    padding: 0;
  }

  .image-container img {
    width: 100%;
  }

  .signup-container {
    margin: 2rem;
  }

  .signup-container h1 {
    font-size: 3rem;
    margin-bottom: 25px;
  }

  .signup-container p {
    width: 100%;
    font-size: 1.2rem;
  }

  .signup-container ul li {
    align-items: flex-start;
    font-size: 1.2rem;
  }

  .signup-container ul li img {
    margin-top: 1px;
    width: 24px;
    margin-right: 1.2rem;
  }

  .signup-container ul li:last-child img {
    width: 21px;
  }

  .subscription-form {
    width: 100%;
  }

  .subscription-form input {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 18px;
  }

  .success-container {
    margin-top: 10rem;
    width: auto;
    padding: 1.8rem;
  }

  .success-container img {
    width: auto;
  }

  .success-container h1 {
    margin-top: 3.5rem;
  }

  .success-container p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .success-container button {
    margin-top: 13rem;
  }
}
